
{% extends 'admin/adminbase.html'%}
{% load static %}
{% block admin %}
<div class="row">
    <div class="col-sm-8" style="margin: 0px auto;">
        <div class="col">
    <div class="card d-board-card" style="box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3);">
      <div class="card-body" style=" background: linear-gradient(135deg, #590a9d 0%, #a43dbd 50%, #ff8359 100%);">
           <h2 style="color: white;">Change Password</h2>
            <form method="post">
                 {% csrf_token %}

                            <div class="input-group mb-3">
                                <input type="password" class="form-control rounded-end-3" name="oldpwd" placeholder="Old Password" required>
                            </div>

                             <div class="input-group mb-3">
                                <input type="password" class="form-control rounded-end-3" name="newpwd" placeholder="New Password" required>
                            </div>
                             <div class="input-group mb-3">
                                <input type="password" class="form-control rounded-end-3" name="confirmpwd" placeholder="Confirm Password" required>
                            </div>
                             <div class="text-center">
                                <a href="{% url 'admin_dash' %}"> <button type="submit" class="btn btn-theme-create px-4 py-2 rounded-3 shadow-sm" style="background: linear-gradient(90deg, #6B0AC9 0%, #9D3BBB 100%); color: white;">
                                    Update Password
                                </button></a>
                        
            </form>
      </div>
    </div>
  </div>
    </div>
</div>
{% endblock %}
