{% extends 'admin/adminbase.html'%}
{% load static %}
{% block admin %}
<div class="row">
    <div class="col-sm-12">
        
        <div class="row mt-5">
            <div class="col-sm-4 mx-auto rounded-3 shadow p-5" style=" background: linear-gradient(135deg, #590a9d 0%, #a43dbd 50%, #ff8359 100%);">
                <h2 class="text my-3 fw-bold text-white">View Category</h2>
                <ol type="none">
                {% for c in category %}
                    <li class="fs-3  text-white">{{c.category_name}}</li>
                {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}