
{% extends 'jobseeker/jobseekerbase.html'%} {% load static %} {% block admin %}
<h2 class="fw-bold mb-4">Dashboard</h2>

<div class="profile-header p-4 mb-4 rounded-3" style="
    background: linear-gradient(135deg, #590a9d, #a43dbd, #ff8359);
    color: white;
  ">
    <div class="row align-items-center">
        <div class="col-md-2 text-center">
            {% if js.picture %}
            <img src="{{js.picture.url}}" class="rounded-circle border border-3 border-white"
                style="width: 120px; height: 120px; object-fit: cover" />
            {% else %} No Image Found {% endif %}
        </div>

        <div class="col-md-4 text-center text-md-start mt-3 mt-md-0">
            <h3 class="fw-bold text-white mb-1">
                {{js.first_name}} {{js.last_name}}
            </h3>

            <p class="mb-1">
                <i class="fa-solid fa-phone me-2"></i>{{js.contact_no}}
            </p>

            <p class="mb-1"><i class="fa-solid fa-envelope me-2"></i>{{js.email}}</p>

            <p class="mb-0">
                <i class="fa-solid fa-location-dot me-2"></i>
                {{js.city}}, {{js.state}}, {{js.country}}
            </p>
        </div>

        <div class="col-md-5 text-end mt-1 mx-auto">
            <a href="{% url 'jsupdate' %}" class="btn shadow" style="
          background-color: white;
          width: 40%;
          font-size: 1rem;
          color: black;
          font-weight: 500;
          border: 2px solid gray;
        ">
                Edit Profile
            </a>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card d-board-card" style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)">
            <div class="card-body">
                <div class="top" style="
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 2rem;
          ">
                    <h3 class="card-title">10</h3>
                    <i class="fa-solid fa-briefcase"></i>
                </div>
                <p class="card-text" style="font-weight: 600">Applied Jobs</p>
                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0"
                    aria-valuemax="100">
                    <div class="progress-bar w-85 bg-info" style="width: 90%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card d-board-card" style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)">
            <div class="card-body">
                <div class="top" style="
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 2rem;
          ">
                    <h3 class="card-title">2</h3>
                    <i class="fa-solid fa-bookmark"></i>
                </div>
                <p class="card-text" style="font-weight: 600">Saved Jobs</p>
                <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100">
                    <div class="progress-bar bg-success" style="width: 70%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card d-board-card" style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)">
            <div class="card-body">
                <div class="top" style="
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 2rem;
          ">
                    <h3 class="card-title">15</h3>
                    <i class="fa-solid fa-eye"></i>
                </div>
                <p class="card-text" style="font-weight: 600">Profile Views</p>
                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100">
                    <div class="progress-bar w-50 bg-warning" style="width: 50%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card d-board-card" style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)">
            <div class="card-body">
                <div class="top" style="
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 2rem;
          ">
                    <h3 class="card-title">1</h3>
                    <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <p class="card-text" style="font-weight: 600">Alerts</p>
                <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-danger" style="width: 75%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <h4 class="fw-bold mb-3 mt-3">Recommended Jobs</h4>
    <div class="row m-0 p-0 justify-content-around">
        {% for job in jobs %}
        <div class="job-card p-3 mb-3">
            <div class="row align-items-center ">
                <div class="col-md-8">
                    <h6 class="fw-bold mb-1">{{job.title}}</h6>

                    <p class="text-muted mb-1">
                        {{job.company.company_name}} • <i class="fa-solid fa-location-dot"></i> {{job.location}}
                    </p>

                    <p class="mb-0">₹ {{job.salary}}</p>
                </div>

                <div class="col-md-4 text-end">
                    <a href="{% url 'apply' job.id %}" class="btn btn-gradient btn-sm"> Apply </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<h4 class="fw-bold mb-3 mt-3">Recent Applications</h4>
<div class="row">
<table class="table js-dash-table">

    <thead>

        <tr class="px-4">
            <th class="text-white" style="font-size: 1rem;">Job</th>
            <th class="text-white" style="font-size: 1rem;">Company</th>
            <th class="text-white" style="font-size: 1rem;">Status</th>
        </tr>

    </thead>

    <tbody>

        {% for a in applications %}

        <tr>

            <td>{{a.job.title}}</td>

            <td>{{a.job.company.company_name}}</td>

            <td>

                <span class="badge bg-info">
                    {{a.status}}
                </span>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>
</div>

{% endblock %}