{% extends 'jobseeker/jobseekerbase.html'%}
{% load static %}
{% block admin %}
<div class="row mt-2">
    <div class="col-md-6" style="margin: 0px auto;">
            <div class="card shadow" style="border-radius: 15px;">
                <div class="card-header text-white text-center" style="background: linear-gradient(135deg, #590a9d 0%, #a43dbd 50%, #ff8359 100%); border-radius: 12px 12px 0 0;">
                <h3 class="fw-bold mb-0 text-white">Change Password</h3>
            </div>
                <div class="card-body" >
                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                        <label class="form-label fw-semibold" style="font-size: 1.1rem;">Old Password</label>
                        <input type="password" name="oldpwd" class="form-control" required>
                        </div>

                        <div class="mb-3">
                        <label class="form-label fw-semibold" style="font-size: 1.1rem;">New Password</label>
                        <input type="password" class="form-control rounded-end-3" name="newpwd" required>
                        </div>

                        <div class="mb-3">
                        <label class="form-label fw-semibold" style="font-size: 1.1rem;">Confirm Password</label>
                        <input type="password" class="form-control rounded-end-3" name="confirmpwd" required>
                        </div>

                        <div class="text-center ">
                            <a href="{% url 'jobseekerdash' %}"> <button type="submit"
                                    class="btn btn-theme-create px-4 py-2 rounded-3 shadow-sm fw-bold mt-3"
                                    style="background: linear-gradient(90deg, #6B0AC9 0%, #9D3BBB 100%); color: white;">
                                    Update Password
                                </button></a>

                    </form>
                </div>
            </div>
    </div>
</div>


{% endblock %}