
{% extends 'mainapp/base.html'%}
{% load static %}

{% block maintitle %}
Forget Password
{% endblock %}

{% block main %}
<div class="container my-5">
  <div class="row justify-content-center align-items-center">

    <div class="col-md-5">

      <div class="card p-4 shadow-lg rounded-4">
        <div class="card-body">

          <div class="text-center mb-4">
            <h4 class="fw-bold">Forgot Password</h4>
            <p class="text-muted">Reset your account password</p>
          </div>
        
          <!-- STEP 1: EMAIL -->
          {% if not show_otp %}
          <form method="post">
            {% csrf_token %}

            <div class="mb-3">
              <input type="email" name="email"
                class="form-control form-control-lg"
                placeholder="Enter your email" required>
            </div>

            <button type="submit" name="send_otp"
              class="btn w-100 py-2 text-white"
              style="background: linear-gradient(90deg, #6B0AC9 0%, #9D3BBB 100%);">
              Send OTP
            </button>
          </form>
          {% endif %}

          <!-- STEP 2: OTP -->
          {% if show_otp %}
          <form method="post">
            {% csrf_token %}

            <div class="mb-3">
              <input type="text" name="otp"
                class="form-control form-control-lg"
                placeholder="Enter OTP" required>
            </div>

            <div class="mb-3">
              <input type="password" name="password"
                class="form-control form-control-lg"
                placeholder="New Password" required>
            </div>

            <button type="submit" name="verify_otp"
              class="btn w-100 py-2 text-white"
              style="background: linear-gradient(90deg, #6B0AC9 0%, #9D3BBB 100%);">
              Change Password
            </button>
          </form>
          {% endif %}

         

          <!-- Back -->
          <div class="text-center mt-3">
            <a href="{% url 'login' %}" class="text-decoration-none">
              Back to Login
            </a>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
{% endblock %}

{% block footer %}

        <div class="row">

          <footer class="text-center text-lg-start  "
            style="background: linear-gradient(135deg, #590a9d 0%, #a43dbd 50%, #ff8359 100%); color: white;">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
              <!-- Left -->
              <div class="me-5 d-none d-lg-block">
                <span>Connect with HireHub for latest job updates:</span>
              </div>
              <!-- Left -->

              <!-- Right -->
              <div>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-facebook-f"></i></a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-twitter"></i></a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-google"></i></a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-instagram"></i></a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-linkedin"></i></a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-github"></i></a>
              </div>
              <!-- Right -->
            </section>
            <!-- Section: Social media -->

            <!-- Section: Links  -->
            <section class="">
              <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                      <i class="fas fa-gem me-3"></i>HireHub
                    </h6>
                    <p>
                      HireHub connects job seekers with top companies.
                      Find jobs, post vacancies, and build your career with confidence.
                    </p>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                      Job Seekers
                    </h6>
                    <p>
                      <a href="#!" class="text-reset nav-link">Browse Jobs</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset nav-link">Create Resume</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset nav-link">Job Alerts</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset nav-link">Career Advice</a>
                    </p>
                  </div>

                  <!-- eomplyeeer -->
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                      Employers
                    </h6>
                    <p>
                      <a href="#!" class="text-reset nav-link">Post a Job</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset nav-link">Browse Candidates</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset nav-link">Pricing Plans</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset nav-link">Recruitment Solutions</a>
                    </p>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                      Useful links
                    </h6>
                    <p>
                      <a href="#!" class="text-reset nav-link">Pricing</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset nav-link">Settings</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset nav-link">Orders</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset nav-link">Help</a>
                    </p>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Lucknow, Uttar Pradesh, India</p>
                    <p>
                      <i class="fas fa-envelope me-3"></i>
                      support@hirehub.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> +91 98765 43210</p>

                  </div>
                  <!-- Grid column -->
                </div>
                <!-- Grid row -->
              </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
              © 2026 <strong>HireHub</strong> | All Rights Reserved
            </div>
            <!-- Copyright -->
          </footer>

        </div>

        <!-- Footer -->
        {% endblock %}